.cart-container {
    height: 95vh;
    width: 30%;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 4px 15px;
    font-size: 18px;
    border-bottom: 1px solid rgb(219 219 219);
}

.close-icon {
    cursor: pointer;
    font-size: 28px;
}