.nav-container {
    /* margin-top: 30vh; */
    /* text-align: center; */
    border: 1px solid red;
    height: 100vh;
}

.nav-container li {
    list-style-type: none;
}


.nav-container a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}

.nav-container li a:hover {
    color: blue;
    transition: 2s;
}